---
---
<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="author" content="Andrew Stere"/>
  <meta name="description" content="Andrew Stere's Homepage"/>
  <meta name="google-site-verfication" content="iKrkg2ajTu2WvcfJr7ZjKqvAHIggruqpmDmswc56igA" />
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/main.css" />
  <link href="https://fonts.googleapis.com/css?family=Raleway:200,400,500,700" rel="stylesheet">
</head>
<body>

{% include header.html %}
{% include about.html %}
{% include work.html %}
{% include contact.html %}
{% include contact_form.html %}
{% include footer.html %}
<script src="/assets/js/jquery-2.1.1.min.js"></script>
<script src="/assets/js/functions.js" type="text/javascript"></script>
</body>
</html>