<section class="about-sec">

    <h3 id="about-me">About Me</h3>



    <div class="face-img" style="background-image: url(/assets/img/{{site.data.portfolio.avatar}});"></div>


    <div class="about-me">
        <p> <strong>Hey, I'm Andrew.</strong> I've spent the last 3 years all over the place, doing all sorts of things, so here is a brief run
            through of where I've been and what I've learned. </p>

            <ul>
                <li><strong>Jacksonville, FL:</strong> Home sweet home. Graduated from Stanton College Preparatory in 2014 with an
                    IB Diploma thankfully.
                </li>


                <li><strong>Tuscaloosa, AL:</strong> Currently a 20 year old undergraduate at the University of Alabama
                majoring in Computer Science and French. Alabama told me they would cover my tuition, so I said yes
                to free education and no to student debt. I've been learning programming and software design while
                keeping myself sane by taking coursework in French. I have about 2 more semesters until I finish the
                French part of my degree, and 2 years until I graduate. Learned C as my first programming language,
                then moved to C++, Java, SQL, javascript, and Ruby.
                </li>

                <li><strong>Tours, France:</strong> I spent a summer at L'institut Touraine, a school for foreigners to learn
                    french, in 2015. Had a brief stint in Belgium but that was more for pleasure than education.
                    Fueled my love of France and brought my total number of years studying the language to 6.
                </li>

                <li><strong>Atlanta, GA:</strong> Previously worked as a co-op at Polytron, inc. where I designed networking solutions
                    for manufacturers. Here I learned about PLC Ladder Logic and became very proficient
                    in using MSSMS/Database Management.
                </li>
                
                <li><strong>Greenville, SC:</strong> Currently working for BMW Manufacturing in Quality Management, designing buisness intelligence
                    solutions for the plant</li>
            </ul>
        <p>
            <strong>TL:DR;</strong> I'm passionate about languages, spoken or typed, and my education path has been in their pursuit.
        </p>
     </div>
</section>
