h3
  @extend %small-bold
  color: darken($accent-color,1)
  text-align: center
  padding: 20px
  margin-top: 0px
  margin-bottom: 0px


.face-img
  max-width: 200px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +size(200px)
  border-radius: 50%
  background-size: cover
  position: center

@media screen and (max-width: 650px)


.about-me
  padding-top: 20px
  max-width: 780px
  margin: 0 auto
  align-content: center
  font-size: 18px
  font-weight: 400
  p
    padding: 0
    margin: 0

  li
    padding: 5px
.about-sec
  background-color: $bg-color
  padding: 10px



